body {
    background-color: black;
}

.points-card {
    height: 40%;

}

.icons {
    color: rgb(255, 191, 53);
}

.icon-col {
    height: 50%;
}

.heading-shadow {
    text-shadow: 1px 1px 2px red,
        0 0 1em rgb(255, 208, 0),
        0 0 0.2em blue;

}

.whowon-txt {
    text-shadow: 1px 1px 2px rgb(255, 195, 32);
}